body {
    font-family: Tahoma;
    font-size: 12px;
    line-height: 20px;
   
    direction: ltr;
    cursor: default;
  
}
.box_btn_chance {
    text-align: center;
    margin: 15px 5px;
}
.btn_chance {
    width: 70%;
    height: 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: #fff;
    opacity: 0.8;
    font-size: 14px;
    background: rgb(150,116,175);
    background: -moz-linear-gradient(0deg, rgba(150,116,175,1) 0%, rgba(118,189,227,1) 100%);
    background: -webkit-linear-gradient( 
0deg
 , rgba(150,116,175,1) 0%, rgba(118,189,227,1) 100%);
    background: linear-gradient( 
0deg
 , rgba(150,116,175,1) 0%, rgba(118,189,227,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9674af",endColorstr="#76bde3",GradientType=1);
}
button:focus {
    outline: none !important;
   
}
.box-win:hover{
	border:2px solid #FE9CF2;
}
.cover_img_edit:hover{
	opacity:1}
.cover_img_edit{
	opacity: 0.7;
    border: 4px #ccc dashed;
	cursor:pointer;
	text-align:center }
.imgchancebox {
    background-image: url(../images/Win/award.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #ccc;
    box-shadow: 2px 3px 3px #ccc;
    padding: 18px;
    margin: auto;
}
.titlechance {
    margin: auto;
    text-align: center;
    padding: 10px;
}
.box-win {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 15px;
    text-align: center;
    cursor: pointer;
    box-shadow: 3px 3px 2px #ccc;
    margin: auto;
    margin-bottom: 5px;
}
.img_chance_win {
    background-image: url(../images/Win/crown.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 18px;
    margin: auto;
}
.containerticket{
	padding:6%}
.btn_chance:hover{
	opacity:1}
.wintxt {
    color: #FE9CF2;
}
.deswin>div{
	margin-bottom:5px;
	display:flex;
	width:100%
	}
.deswin >input{
	border: 1px solid #000;
	margin-bottom:5px;
    width: 100%;
    height: auto}
.none{
	display:none !important}
.deswinitem >span{
	width:40%}
	.deswinitem >input{
	width:60%}
.deswinitem{
	
	width:100%;
	}
.titilesetbox{
	font-size: 14px;
    font-weight: 600;
    padding: 5px;}
.box_noti {
    width: 100%;
    display: flex;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 2px 2px 2px #ccc;
    border-radius: 5px;
	cursor:pointer;
	margin-bottom:5px
	
}
.box_comp{
	max-height:250px;
	overflow-y:scroll;
	padding:6%
	}
.modal_tishter_black>
 .modal_tishter_centeral> 
 .modal_tishter_box> .modal_tishter_box_close> .modal_tishter_btn_close
 {margin-right:20px}
#s{ display:none}
.box_noti:hover{
	background-color:#fafafa}

.box-noti-datetxt {
    width: 60% !important;
    padding: 0px !important;
};
.box-comp_type{
  width:40% !important;	}
 .modal5000{
	 z-index:5000000 !important
	 }
	.modal_little{
		width:30% !important}
.deswinitemlit {
    width: 100%;
	margin-bottom:5px
}
.winsel{
	    border-radius: 3px;

    border: #ccc 1px solid;
    padding: 2px;}
.btn_grad{
	width:40% !important ;
	height:32px}
.lit_comp{
	padding-bottom:0}
.deswinitemlit >select{
	min-width:100px}
.deswinitemlit >input{
	max-width:100px}
.deswinitemlit >span {
	font-size:14px;
	padding:2px;
	
    width: 40%;
}
.box-comp_type>div>a>div>label{
	margin-bottom:0 !important}
.black{
	color:#000 !important}
@media (max-width:500px){
	.containerticket{
		padding-top:13%}}
		
		
		
		
		
		@media (min-width: 1025px) and (max-width: 1399px){
.modal_tishter_black> .modal_tishter_centeral> .modal_tishter_box {
    width: 40%;
    max-width: 706px;
    max-height: 90% !important;
    margin: 0 auto;
    padding: 0 5px;
    box-sizing: border-box;
}}