/**** Tab ***/
 .tab {
  overflow: hidden;

}
body{
	overflow-y:scroll;
}
 
.tab button {
 
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 1px;
  transition: 0.5s;
  font-size: 12px;
  width: 50%;
  background-color: #ffffff;
  border: solid 2px #eeeeee;
}

 
.tab button:hover {
  background-color: #ddd;
}

 
.tab button.active {
  background-color: #ffffff;
  border-bottom: solid 2px #ffffff;
}

 
.tabcontent {
  display: none;
  padding: 6px 12px;
  font-size: 12px;
  border-top: none;
  background-color: #ffffff;
}
/*** End Tab ****/

 
.writeNewMessage{
	display: flex;
}
.writeNewMessage:hover{
	background-color: #eeeeee;
}
.writeNewMessage > span{
	font-size: 12px;
	margin-left: 5px;
}
.messageList ,.companyMessageList{
	display: flex;
	border:solid 1px #eeeeee;
	margin-top:5px;
	padding:5px;
 	align-items: center;
 	width: 100%;
}
.messageList:hover ,.companyMessageList:hover{
	background-color: #eeeeee;
	cursor: pointer;

}
.personProfile  {
  position: relative;
  	padding:0px;
  	margin: 0px;
    float: left;
    flex: 0 0 50px;
   height: 50px;
    display: block;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    border-radius: 50%;
    width:20%;

}
.companyProfile  {
  position: relative;
  	padding:0px;
  	margin: 0px;
    float: left;
    flex: 0 0 50px;
    height: 50px;
    display: block;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    width: 20%;
    

}
.profileDetail{display: block;margin-left: 5px;width: 80%}
.nameAndDate{
	 
	flex-direction: row;
	box-sizing: border-box;

}
.nameAndDate > .userName{font-size: 14px;width: 70%}
.nameAndDate > .date{width: 30%;float: right;text-align: right;}
.abstractMessage{
	margin-top: 5px;
	display: flex;	
	min-height:40px;		
}
.abstractMessage > .messageText{
	width: 93%;
}
.abstractMessage > a{
	height:16px;
	color: #7f7f7f;
	float: right;
}
.abstractMessage > a:hover{
	color: #000000;
    font-size: 14px;
}
.cog-span-icon {

    width: 7%;
    float: left;
    text-align: right;

} 
 
 
 a.cog-link {
    color: #7f7f7f;
}
.searchBox{
	width:100%;
	display: flex;
}
.searchBox > input[type=text]{
	width: 80%;
	border:solid 1px #eeeeee;
	padding:2px;
	border-radius:0px;
}
 .searchBtn {
	background-color: #eeeeee;
	width: 20%;
	text-align: center;
	padding: 3px 5px;
	cursor: pointer;
 
}
.alphabet{
	width: 100%;
	background-color: #eeeeee;
	margin-top: 10px;
	padding: 5px;
}
.messageCompany{
	display: flex;
}
.messageCompany > .firstnameCompanyName {
	width: 90%;

}
.messageCompany > .writeIcon{
	width: 7%;
	float: right;
	text-align: right;
}
.jobTitle , .companyName , .connectionTime{
	display: block;
	color: #7f7f7f;
	font-size: 11px;
}
.profile{
	width: 100%;
	display: flex;
	background-color: #ffffff;
	box-sizing: border-box;
	padding: 5px;
	align-items: center;
}
.sentMessage , .recievedMessage {
	display: block;
	width: 80%;
	border-radius: 10px;
	margin-top: 10px;
	clear: both;
	font-size: 12px;
	padding: 10px;
}
.sentMessage{
	background-color: #dff0ff;
	border: solid 1px #2e3192;
 
	float: right;
	color: #2e3192;

}
.recievedMessage{
	background-color: #ffffff;
	border: solid 1px #448ccb;
	 
	float: left;
	color: #512626;
}
.sendNewMessage{
	 

	display: block;
	bottom: 0px;
	 
	margin-top: 10px;
	padding-top: 10px;
	box-sizing: border-box;
	width: 100%;

	 position: fixed;
    bottom: 0;
   

}
.sendNewMessage > textarea{
	width: 100%;
	border-radius:2px;
	padding: 5px;
	font-size: 12px;
	border: none;
	resize: none;


}
.sendNewMessage > .sendBlock{
	display: flex;
	background-color: #ffffff;
	padding: 5px;
	box-sizing: border-box;

}
.sendMessageBtn{
	background-color: #ffffff;
	width: 10%;
	text-align: center;
	padding: 5px 2px;
	cursor: pointer;
	margin-left: 2px;
	border-radius: 5px;
 	border:solid 1px #7f7f7f;
}
.Showmessage , .newMessage{
	 
 
position:fixed !important;
position:absolute;
top:0;
width: 100%;
bottom:10px;
background-color: #eeeeee;
 
}
.currentMessages{
	height: 70%;
	overflow-y: scroll;


}
.sendBlock{
	display: flex;
	flex-direction: row-reverse;
}
.sendBtn{
	background-color: #165fce;
	border:none;
	outline: none;
	border-radius: 2px;
	padding: 4px 40px;
	color:#fff;
	float: right;
}
.sendBtn:hover{
	background-color: #275db0;
}
@media screen and (max-width: 1300px) {
 .nameAndDate{
 	width: 100%;
 }
  .nameAndDate > .userName{
  	display: block;
  	width: 100%
  }
  .nameAndDate > .date{
  	display: block;
  	width: 100%;
  	text-align: left;
  	color:gray;
  }
  .profileDetail > .abstractMessage{
  	display: block;
  }
  .profileDetail > .abstractMessage > .messageText{
  	float: left;
  }
  .profileDetail > .abstractMessage > a {
  	width: 7%;
  	float: right;
  }
	}
	.col-md-hide {
		display: none;
	}
	@media screen and (max-width: 992px) {
		.tab button {
			padding: 5px 0px;
			font-size: 10px;
		}
	}
	@media screen and (max-width: 768px){
		.messageFix{
			display: none;	
		}
		.Showmessage , .newMessage{
		position:relative !important;
		 
		 }
		 .sendNewMessage{
		 	position: relative;
		 }
		} /*
	}
	@media screen and (min-width: 768px)  and (max-width: 992px){
		.writeNewMessage > span {
			font-size: 11px;
		}
		.abstractMessage > .messageText{
			display: none;
		}
		.abstractMessage > a{
			float: left !important;
		}
		.col-sm-hide{
			display: none;
		}
		#MyConnections > .companyProfileMain {
			display: flex;
		  
		}
		.messageCompany > .firstnameCompanyName	{
			font-size: 11px;
		}
 
	  
		.messageCompany > .firstnameCompanyName{
			max-width: 75%;
		}
		.nameAndDate > .userName {
			font-size: 12px;
		}
		.col-md-hide{
			display: block;
		}
		#MyConnections > .profielDetailA{
			display: flex;
		}
		.companyProfileMain > .personProfile{
			position: relative;
			height: 50px;
			width: 40%;
		}
		.companyProfileMain > .messageCompany {
			padding-left: 5px;
			box-sizing: border-box;
		}
		.companyProfileMain > .SmallwriteIcon{
			width: 7%;
			float: right;
			text-align: right;
		}
		.profileDetail > .profielDetailA{
			width: 93%;
			float: left;
		}
		 .profileDetailTab{
			display: flex;
		}
		.SmallwriteIcon{
			width: 7%;
			float: right;
		}
 	}
	 
	 .hid{
	 	display: none;
	 }
	 /* New Message */
	 .receiveSelect{
	  
	 }
	 .row.reciever{
	 	background-color: #ffffff;
		padding: 5px;
		margin: 0px;
		margin-bottom: 5px;
		vertical-align: middle;
		font-size: 12px;
	 }
	 input[type="text"] , select{
	 	padding: 0px;
	 	margin:0px;
	 	border: none;
	 	border-radius: none;
	 	width: auto;
	 	height: auto;
	 	font-size: 12px;
	 	width: 100%;
	 }
	 .nopadding{
	 	padding:0px;
	 }
	 .contactList{
	 	position: relative;
	 	display: inline-block;

	 }
	.contactItem{
	 		display: block;
  		position: absolute;
  		z-index: 1;
  		width: 100%;
  		background-color: #ffffff;
  		border-bottom: solid 4px #eeeeee;
  		width: 200px;
  		margin-top: 5px;
  		border: solid 1px #eeeeee;
	 }
	 .contactList:hover .contactItem {
  	 
}
.recieverItem:hover{
	background-color: #eeffee;
	cursor: pointer;
}

.sendNewMessage{

}