
.icon_address_gray{
	background-image:url(../images/icon/address_gray.png);
	background-repeat:no-repeat;
}
.icon_phone_gray{
	background-image:url(../images/icon/phone_gray.png);
	background-repeat:no-repeat;
}
.icon_web_gray{
	background-image:url(../images/icon/web_gray.png);
	background-repeat:no-repeat;
}