body {
    font-family: Tahoma;
    font-size: 12px;
    line-height: 20px;
   
    direction: ltr;
    cursor: default;
   
    overflow-y:auto;
}
.btn_save{
	width: 90px;
    color: #fff;
    float: right;
    border-radius: 5PX;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    opacity: 0.7;
    background: rgb(113,201,235);
    background: -moz-linear-gradient(99deg, rgba(113,201,235,1) 20%, rgba(140,84,117,1) 100%);
    background: -webkit-linear-gradient(
99deg
, rgba(113,201,235,1) 20%, rgba(140,84,117,1) 100%);
    background: linear-gradient(
99deg
, rgba(113,201,235,1) 20%, rgba(140,84,117,1) 100%);
    filter: progid:DXImag}
.btn_save:hover{
	opacity:1}
.back-none{
	background:#fff !important}
.Arrowcola{
	position: fixed;
    left: 0px;
    margin-top: 120px;
    width: 15px;
    height: 60px;
	    z-index: 99987;
    background-color: rgba(0,0,0,0.25);
    background-image:url(../images/tab-bar/col_a_arrow.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
    overflow: hidden;
    cursor: pointer;-webkit-border-radius: 0 100% 100% 0;
    -moz-border-radius: 0 100% 100% 0;
    -ms-border-radius: 0 100% 100% 0;
    -o-border-radius: 0 100% 100% 0;
    border-radius: 0 100% 100% 0;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;}
.flip-horizontal {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph;
    filter: fliph;
}
.col-a-profile{
	background-color:#fff;overflow:auto;position:sticky;top:0
	
	}
.profilpic_change >label{
	cursor:pointer}
.profilpic_change_input{
	display: none !important;
    visibility: hidden !important;}
.box-profile{
	padding:10px;margin:0 auto; background-color:#fff}
.profilephotos{
	display:flex;justify-content: center;}
.preprofilephotos{
	cursor:pointer;
	background-image:url(../images/search/point-left.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		width: 20PX;    margin: auto 0;
		height: 20px;}
.Profile_photo{
	background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		width:47%;border-radius:7px}
.profilephotosnext{
	cursor:pointer;
	background-image:url(../images/search/point-right.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		width: 20PX;    margin: auto 0;
		height: 20px;}
.box-event_comp{
	 display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;}
.box-ev_com{
	width:100px;height:80px; border-radius:5px;border:1px solid #ccc;    margin: 10px;box-shadow:3px 3px 3px #ccc;vertical-align:central;cursor:pointer;padding:15px}
.box_competition{
	background-image:url(../images/tab-bar/award.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width:25PX;height:25PX;margin:auto}
.box-event_{
	
	background-image: url(../images/tab-bar/event.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30PX;
    height: 30PX;
    margin: auto;
	}
.box-txtevent{
	padding:2px;text-align:center}
.containerticket{
	padding:6%}
.containertickettitle{
	margin-bottom:30px}

.pad-5{
	padding:5px}

.profilpic{
	max-width: 100px;
    background-color: #fff;
    height: 100px;
    background-image: url(../../images/venues_list/add_photo.png);
    background-position: center center;
    background-repeat: no-repeat;
	 box-sizing: border-box;
    background-size: auto;border-radius:50%;border:1px solid #ccc;margin:auto}
.profilpic_change > label{
	cursor:pointer}

.profilpic_change{
	margin-top:20px}
.profile-item input{
	width: 100%;
    height: 32px;
    border: solid 1px #aaaaaa !important;
    padding: 6px 15px 5px 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;}
.register-form {
    padding: 0px 10px;
}
.profile-item{
	margin-bottom:1rem}
.reg-seloption{
	width: 100%;
    height: 32px;
    border: solid 1px #aaaaaa !important;
  font-size:13px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;}
.txtbox{
	
	border: solid 1px #aaaaaa !important;
    font-size: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
	width:100%;
	margin-top:8px;
	margin-bottom:3px}
.profile-item span{
	font-weight:600 ;
	font-size:11px}
.titleinputprofile{
	font-size:14px;font-weight:600;padding:5px}
.title-fill{
	font-weight:600;
	font-size:14px;
	margin-bottom:25px
	}
.title-fill >p{
	margin-bottom:0}
.title-fill >span {
	font-size:13px;
	color:#D6DADE;
	font-weight:400}
	.favitem>.favitem_> div{
	border-radius:50%; background-color:#fff;color:#FE9CF2;border:solid 1px #FE9CF2;min-height:30px;padding:3px;text-align:center;cursor:pointer;
	width:70%}
	.select{
    
	background-color:#FE9CF2 !important;
	color:#fff !important
}
.favitem>.favitem_{
	margin:5px auto;
	display:inline-flex
	}
	.favitem>div{width:19%;}
	.popup-content_ > div >label{
	width:25%;
	display:inline-block;
	float:left}
.popup-content_ > div {
	
	    padding-top: 35px;
    max-height: 134px;
    min-height: 134px;

	overflow:auto

	
	}
.headimg_popup{
	background-image:url(../images/headphones@2x.png);
	 border-radius:50%;
	 background-position:center;
	 background-repeat:no-repeat;
	 background-size:60% ;
	 width:45px;
	 height:45px;
	 margin:auto;
	 border:1px #ccc solid;
	 box-shadow: 6px 2px 5px #ccc}
@media (max-width: 750.98px){
	.favitem>.favitem_{ width:35%;}
	
	
	.popup-content_ > div >label{
	width:50%;
	}
}
.popup-overlay {
  /*Hides pop-up when there is no "active" class*/
  visibility: hidden;
  
  background: #ffffff;
  border: 1px solid #ccc;
  box-shadow: 10px 10px 5px #aaaaaa;
  width: 80% !important;
  top:50%;left:0;
  border-radius:10px;
  padding:10px ;
  min-width:200px;
      margin: 0 auto;
    padding: 0 5px;
  
 
}

.popup-overlay.active {
  /*displays pop-up when "active" class is present*/
  visibility: visible;
  text-align: center;
}

.popup-content {
  /*Hides pop-up content when there is no "active" class */
  visibility: hidden;
}

.popup-content.active {
  /*Shows pop-up content when "active" class is present */
  visibility: visible;
}



/* Hide the browser's default checkbox */
.container_popup_fav input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  text-align:justify
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  
border-radius: 15px;
}

/* On mouse-over, add a grey background color */
.container_popup_fav:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a pink background */
.container_popup_fav input:checked ~ .checkmark {
  background-color: #FE9CF2;
}



/* Show the checkmark when checked */
.container_popup_fav input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container_popup_fav .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.container_popup_fav {
  display: inline-block;
  position: relative;
  padding-left: 5px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
}
	
.btn-Done_fav{
	width: 100px;
    padding: 5px;
	color:#fff;
	background: rgb(118,189,227);
background: -moz-linear-gradient(99deg, rgba(118,189,227,1) 20%, rgba(150,116,175,1) 100%);
background: -webkit-linear-gradient(99deg, rgba(118,189,227,1) 20%, rgba(150,116,175,1) 100%);
background: linear-gradient(99deg, rgba(118,189,227,1) 20%, rgba(150,116,175,1) 100%);
border-radius:15px;
border:0;
outline: 0;
cursor:pointer;
opacity:0.7}
.btn-Done_fav:hover{
	opacity:1}

.btn-Done_fav,
.btn-Done_fav:focus,
.btn-Done_fav:active {
    border: 0;
    outline: 0;
}
.HR_DIV {
    background: rgb(113,201,235);
    background: -moz-linear-gradient(99deg, rgba(113,201,235,1) 20%, rgba(140,84,117,1) 100%);
    background: -webkit-linear-gradient(
99deg
, rgba(113,201,235,1) 20%, rgba(140,84,117,1) 100%);
    background: linear-gradient(
99deg
, rgba(113,201,235,1) 20%, rgba(140,84,117,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#71c9eb",endColorstr="#8c5475",GradientType=1);
    height: 4px;
    border-radius: 5px;
}
.img_chance_win{
	
	background-image:url(../images/Win/crown.png);
	background-position:center;
	background-repeat:no-repeat;
	width:20px;
	 height:20px;
	 border-radius:50%;
	 padding:18px;
	 margin:auto}
.box-win{
	
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 5px 15px;
	text-align: center;
	 cursor:pointer;
    box-shadow: 3px 3px 2px #ccc;
	margin: auto;
	margin-bottom:5px
	}
.box-win:hover{
	background:#ccc}
.wintxt{
	color:#FE9CF2}
.titlechance{
	margin:auto;text-align:center;padding:10px}
.imgchancebox{
	background-image:url(../images/Win/award.png);
	background-position:center;
	background-repeat:no-repeat;
	width:20px;
	height:20px;
	border-radius:50%;
	border:1px solid #ccc;
	box-shadow:2px 3px 3px #ccc;
	padding:18px;
	margin:auto}
.btn_chance{
	width: 70%;
    height: 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: #fff;
	opacity:0.8;
	margin-bottom:5PX;
    font-size: 14px;
    background: rgb(150,116,175);
    background: -moz-linear-gradient(0deg, rgba(150,116,175,1) 0%, rgba(118,189,227,1) 100%);
    background: -webkit-linear-gradient(
0deg
, rgba(150,116,175,1) 0%, rgba(118,189,227,1) 100%);
    background: linear-gradient(
0deg
, rgba(150,116,175,1) 0%, rgba(118,189,227,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9674af",endColorstr="#76bde3",GradientType=1);
}
.box_btn_chance{
	
    text-align: center;
    margin:15px 5px;
}
.btn_chance:hover{
	opacity:1}
.setting{
	background-image:url(../images/profile/gear.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:50%;
	width:30px;
	height:30px;
	border-radius:50%;
	box-shadow:3px 3px 3px #ccc;
	padding:5px;
	cursor:pointer}
.permium{
	background-image:url(../images/profile/crown.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	
	padding:5px;
	cursor:pointer}
	.permium_box{
	width:30px;
	height:30px;
	border-radius:50%;
	background-image:url(../images/profile/crown.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:auto;
	box-shadow:0px 1px 2px #ccc;;}
.boost {
	
	background-image:url(../images/profile/flash.png);
	background-repeat:no-repeat;
	background-size:contain;
	width: 40px;
    height: 40px;
    background-position: center;
}
.seticon{
	position:absolute;left:15px}
.boosticon{
	margin:auto}
.crowicon{
	position:absolute;right:15px}
.boostmain_box{
	
    background-repeat: no-repeat;
    /* margin-top: 0; */
   
    BACKGROUND-SIZE: 100% 350px;
    BACKGROUND-POSITION: top;
	
	width:40% !important;
	background-image:url(../images/profile/premium-bg.png); 
	border-radius:19px !important;
	
}
.settingmain{
	width:25% !important;
	border-radius:19px !important;}
.main_purchase{
	padding:10px;padding-top:45% ;}
.txtset{
	width:70%;font-weight:600}
.titilesetbox{
	margin: 11px;
    text-align: center;
   
    font-size: 17px;
    font-size: 21px;}
.rowsettxt{
	display:flex;
	margin-bottom:20px}
.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.flex{
	display:flex !important
	}
.user_on{
    position: relative;
    /* top: 0; */
    font-size: 30px;
    /* padding-bottom: 20px; */
    -webkit-border-radius: 0.375rem;
    border-radius: 50%;
        margin-left: 5.2rem;
    color: #0ACB6B;
    margin-top: -2.1rem;
    color: #0ACB6B;
		
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cacaca;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
      background: rgb(113,201,235);
    background: -moz-linear-gradient(99deg, rgba(113,201,235,1) 20%, rgba(140,84,117,1) 100%);
    background: -webkit-linear-gradient( 
99deg
 , rgba(113,201,235,1) 20%, rgba(140,84,117,1) 100%);
    background: linear-gradient( 
99deg
 , rgba(113,201,235,1) 20%, rgba(140,84,117,1) 100%);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #fff;
      border: 1px solid #ccc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.twooffourth{
	
 border-left: 3px solid #f00 !important;
 border-bottom: 3px solid #f00 !important;}
 .threeoffourth{
border-right: 3px solid #f00 !important;	
 border-left: 3px solid #f00 !important;
 border-top: 3px solid #f00 !important;}
 .oneoffourth{
	
 border-left: 3px solid #f00 !important;
 }
 .full{
	 border: 3px solid #f00 !important; }
.titleBoost{
	background:#fff;
	border-radius:5px;
	color:#ccc;
	text-align:center;
	padding:5px}
.captxtbox{
	font-weight:600;
	margin-bottom:5px;
	}
.selectboxboost{
	border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
	width: 100%;
    min-height: 30px;}
.radioboxboost{
	 padding: 12px;
    display:flex;
    margin-top: 12px;}
.radioboxboost>div{
	width:33%;
	margin:auto;
	text-align:center}
.purtotalbox{
	border-radius:5px;
	box-shadow:3px 3px 3px #ccc}
.radioboxboost >input{
	cursor:pointer}
.radioboxboost >label{
	font-size:18px}
.btn_purchase{
	width: 70%;
    height: 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: #fff;
    opacity: 0.8;
    font-size: 14px;
    background: rgb(150,116,175);
    background: -moz-linear-gradient(0deg, rgba(150,116,175,1) 0%, rgba(118,189,227,1) 100%);
    background: -webkit-linear-gradient( 
0deg
 , rgba(150,116,175,1) 0%, rgba(118,189,227,1) 100%);
    background: linear-gradient( 
0deg
 , rgba(150,116,175,1) 0%, rgba(118,189,227,1) 100%);
    filter: progid}
.btn_purchase:hover{
	opacity:1}
.btn_chance_box{
	text-align:center}
.circlework{
	border:3px solid #ccc;
	border-radius:50%;
	width:70px;
	height:70px;
	margin:auto}
.box_curtoken{
	border:1px solid #06F;
	border-radius:5px;
	padding:5px;
	background-color:#fff;
	margin:5px !important;
	
	height:175px}
	.descurtokenbox{
		text-align:center;
		padding:5px;
		margin:auto}
	.descurtokenboxnum{
		font-size:20px;
		font-weight:bold}
	.box_curtokentime{
		float:right;
		opacity:0.7}
	.currtoken{
		background:#ccc;
		border-radius:5px}
	.currtoken_{
		margin:auto;
		width:100%;
		display:flex;
		height:190px;
		overflow:auto;
		}
	.box_purtoken{
		border:1px solid #06F;
	border-radius:5px;
	padding:5px;
	background-color:#fff;
	margin:10px !important;
	
	height:80px;
	cursor:pointer}	
.purtoken_{
	margin:auto;
		width:100%;
		display:flex;
		height:100px;
		overflow:auto;}
	.box_purtoken:hover{
		color:#fff;
		background: rgb(150,116,175);
    background: -moz-linear-gradient(0deg, rgba(150,116,175,1) 0%, rgba(118,189,227,1) 100%);
    background: -webkit-linear-gradient( 
0deg
 , rgba(150,116,175,1) 0%, rgba(118,189,227,1) 100%);
    background: linear-gradient( 
0deg
 , rgba(150,116,175,1) 0%, rgba(118,189,227,1) 100%);
    filter: progid}
	.descurtoken{
		vertical-align: super;}
	
@media (max-width:860px) {
		
.boostmain_box{
	border-radius:15px !important}
	.main_purchase{
	padding-top: 60% !important}
	
	}
